#header {
  background-color: #fff;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header_left {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.header_logo img {
  width: 150px;
  height: auto;
}

.header_text {
  margin-left: 40px;
}

.header_right {
  display: flex;
  align-items: center;
}

ul.ddmenu {
  margin: 0px;
  padding: 0px 20px 0px 0px;
  background-color: #fff;
}

ul.ddmenu li {
  width: 100px;
  display: inline-block;
  list-style-type: none;
  position: relative;
}

ul.ddmenu a {
  background-color: #fff;
  color: #333;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

ul.ddmenu a:hover {
  background-color: #eee;
  color: #555;
}

ul.ddmenu li:hover ul {
  display: block;
}

ul.ddmenu ul {
  margin: 0px;
  padding: 0px;
  display: none;
  position: absolute;
}

ul.ddmenu ul li {
  width: 100px;
  border-top: 1px solid #333;
}

ul.ddmenu ul li a {
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}

ul.ddmenu ul li a:hover {
  background-color: #eee;
  color: #555;
}