/* 初期化 */
*{
  margin:0;
  padding:0;
  list-style-type:none;
}

header {
  background-color: #ffffff;
  /* height: 80px; */
  }

#header.fixed{
  position: fixed;
  z-index: 999;
  top:0;
  left:0;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
 }
  
.header_left {
  display: flex;
  align-items: center;
}

.header_logo img {
  width: 150px;
  height: auto;
}

/* メニューボタン */
ul.main li{
  float:left;
  width:150px;
  height:38px;
  background:url("btn_off.png");
  position:relative;
}

/* メニューボタンテキストリンク */
ul.main li a{
  display:block;
  width:100%;
  height:100%;
  line-height:38px;
  text-indent:30px;
  font-weight:bold;
  color:#CFDFB5;
  text-decoration:none;
}

/* メニューボタンロールオーバー */
ul.main li a:hover{
  background:url("btn_off.png");
}

/* サブメニュー */
ul.sub{
  display:none;
}

/* clearfix */
ul.main:after{
  content:".";
  display:block;
  clear:both;
  height:0;
  visibility:hidden;
}

/* IE7用 */
ul.main{
  zoom:1;
}