@media screen and (max-width:768px) {
    .header_right {
        display: none;
    }
    
    .menu-toggle {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 20px;
    }

    /* ハンバーガー */
    .hamburger-menu {
        width: 50px;
        height: 50px;
        position: relative;
        border: none;
        background: transparent;
        appearance: none;
        padding: 0;
        cursor: pointer;
    }

    .hamburger-menu__bar {
        display: inline-block;
        width: 44%;
        height: 2px;
        background: #242424;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: .5s;
    }

    .hamburger-menu__bar:first-child {
        top: 16px;
    }
    
    .hamburger-menu__bar:nth-child(2) {
        top: 24px;
    }
    .hamburger-menu__bar:last-child {
        top: 32px;
    }
    .hamburger-menu--open .hamburger-menu__bar {
        top: 50%;
    }
    .hamburger-menu--open .hamburger-menu__bar:first-child {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
    .hamburger-menu--open .hamburger-menu__bar:last-child {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }
    .hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
        display: none;
    }
    .navigation {
        display: none;
        background: #242424;
        position: absolute;
        top: 50px;
        width: 100%;
        z-index: 9999;
    }
    .navigation__list {
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .navigation__list-item {
        border-bottom: solid 1px #474747;
    }
    .navigation__list-item:first-child {
        border-top: solid 1px #474747;
    }
    .navigation__link {
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        display: block;
        padding: 24px 0;
        transition: .5s;
    }
    @media (hover: hover) and (pointer: fine) {
        .navigation__link:hover {
          background: #333;
        }
    }



    .news_item {
        width: 100%;
    }  

    .news-slider {
        padding:20px;
        background:#fff;
    }
  
    .news-slider li {
        border-bottom:1px dashed #ccc;
    }
  
    .news-slider li:last-child {
        border-bottom:none;
    }
    .news-slider span {
        display:block;
    padding-bottom:10px;
    }
  }